.contacts_block {padding: 0px 120px 60px 120px;}
.contacts_block_wrapper {
	display: flex;
	border-radius: 40px;
	padding: 60px 60px 0px 60px;
	background: var(--baner_bg);
}
.contacts_block_caption {
	margin-bottom: 16px;
}
.contacts_block_subtext {margin-bottom: 120px}
.contacts_block_info_wrapper {display: flex;}
.contacts_block_info_contener>div {margin-bottom: 28px;}
.contacts_block_info_contener>div:last-child {margin-bottom: 0px;}

/*=====================*/
.review_form_wrapper {
	display: grid;
	grid-gap: 24px;
	grid-template-columns: repeat(10, 1fr);
	border-radius: 20px 20px 0px 0px;
	padding: 40px;
	background: var(--color2);
	width: 630px;
}
.review_form_wrapper input, textarea {
	border: none;
	margin-top: 8px;
}
.review_form_wrapper input:focus, textarea:focus {outline: none;}
.review_form_caption {grid-column: 1/11;}
.review_form_name_wrapper {grid-column: 1/6; width: 100%;}
.review_form_telephone_wrapper {grid-column: 6/11; width: 100%;}

.review_form_input_1 {
	border-radius: 10px;
	padding: 16px;
	background: var(--input_bg);
	width: 100%;
}
.review_form_text_wrapper {grid-column: 1/11; width: 100%}
.review_form_text_wrapper textarea {height: 100px;}
.review_form_send_wrapper {
	display: flex;
	grid-column: 1/11;
}
.review_form_checkbox_wrapper {
	display: flex;
	align-items: center;
}
.review_form_checkbox_wrapper input {width: 50px}
#send_button {}